@charset "UTF-8";

*{
    box-sizing: border-box;
}
body{
    text-align: center;
    background-image: linear-gradient(to right, rgb(71, 151, 204), rgb(60, 101, 175));
}
body h1, a{
    text-shadow: 2px 2px 3px black;
    display: inline-block;
    text-decoration: none;
    color: white;
    margin: 15px 0px;
}
main{
    padding: 10px;
    margin: auto;
    width: 500px;
    height: 370px;
    border-radius: 10px;
    box-shadow: 0px 2px 3px rgb(0, 0, 0);
    background-color: white;
}
div{
    width: 100%;
}
div#foto{
    margin: auto;
    background-color: gray;
    width: 250px;
    height: 250px;
    border-radius: 50%;
}